{% extends "master.html" %}

{% block title %}Index{% endblock %}
{% block head %}
<script type="text/javascript">
    function checkpass()
    {
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
    {
    alert('New Password and Confirm Password field does not match');
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }   
    </script> 
{% endblock %}
      {% block content %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
    <!-- Breadcrumb -->
    <nav class="hk-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Change Password</a></li>
<li class="breadcrumb-item active" aria-current="page">Admin</li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->

    <!-- Container -->
    <div class="container">
        <!-- Title -->
        <div class="hk-pg-header">
            <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="external-link"></i></span></span>Admin Change Password</h4>
        </div>
        <!-- /Title -->

        <!-- Row -->
        <div class="row">
            <div class="col-xl-12">
<section class="hk-sec-wrapper">

<div class="row">
<div class="col-sm">
    {% with messages = get_flashed_messages() %}
 
    {% if messages %}

    {% for message in messages %}
    {% if msg == "False" %}
    <div class="alert alert-danger alert-dismissable" role="alert">

        <button type="button" class="close" data-dismiss="alert" aria-label="close">

            <span aria-hidden="true">x</span>

        </button>
    



    {{message}}


    </div>
    {% else %}
    <div class="alert alert-success alert-dismissable" role="alert">

        <button type="button" class="close" data-dismiss="alert" aria-label="close">

            <span aria-hidden="true">x</span>

        </button>
    



    {{message}}


    </div>
    {% endif %}
    {% endfor %}

    {% endif %}
    {% endwith %}
<form class="needs-validation" method="post" name="changepassword" novalidate onsubmit="return checkpass();" action="updatepassword">
                               
<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Current Password</label>
<input type="password" class="form-control" id="currentpassword" placeholder="Current Passsword" name="currentpassword" required>
<div class="invalid-feedback">Please provide  current password.</div>
</div>
</div>

<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">New Password</label>
<input type="password" class="form-control" id="newpassword" placeholder="New Passsword" name="newpassword" required>
<div class="invalid-feedback">Please provide  new password.</div>
</div>
</div>

<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Confirm Password</label>
<input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Passsword" name="confirmpassword" required>
<div class="invalid-feedback">Please provide  confirm password.</div>
</div>
</div>
                         
<button class="btn btn-primary" type="submit" name="submit">Change</button>
</form>
</div>
</div>
</section>
             
</div>
</div>
</div>

            {% endblock %}
            <!-- /Container -->
			
            <!-- Footer -->
            
            <!-- /Footer -->
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /HK Wrapper -->

    <!-- jQuery -->
    
</body>

</html>

