{% extends "master.html" %}

{% block title %}Index{% endblock %}
      {% block content %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
    <!-- Breadcrumb -->
    <nav class="hk-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Company</a></li>
<li class="breadcrumb-item active" aria-current="page">Add</li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->

    <!-- Container -->
    <div class="container">
        <!-- Title -->
        <div class="hk-pg-header">
            <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="external-link"></i></span></span>Add Company</h4>
        </div>
        <!-- /Title -->

        <!-- Row -->
        <div class="row">
            <div class="col-xl-12">
<section class="hk-sec-wrapper">

<div class="row">
<div class="col-sm">
<form class="needs-validation" action="/updateCompany/{{Search_Company.id}}" method="POST"  novalidate>
                                
<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Company Name</label>
<input type="text" class="form-control" id="validationCustom03" value="{{Search_Company.CompanyName}}" name="companyname" required>
<div class="invalid-feedback">Please provide a valid Company name.</div>
</div>
</div>
                         
<button class="btn btn-primary" type="submit" name="update">Update</button>
</form>
</div>
</div>
</section>
             
</div>
</div>
</div>
            {% endblock %}
            <!-- /Container -->
			
            <!-- Footer -->
            
            <!-- /Footer -->
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /HK Wrapper -->

    <!-- jQuery -->
    
</body>

</html>

